body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.container-fluid {
    padding: 0 40px;
    height: 65px;
}

.UnifiedNav-logoSVG {
    fill: #0069ff;
    cursor: pointer;
}

svg {
    margin-top: 15px;
}

.navbar-left {
    margin-left: 45px;
}

.navbar-default .navbar-nav>li>a {
    color: #031b4e;
    margin-top: 7px;
}

.navbar-default {
    background-color: white;
    border-color: white;
}

.navbar-default::after {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(3,27,78,.1);
    content: "";
    display: block;
    height: 4px;
    margin-top: -4px;
    width: 100%;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #0069ff;
    background-color: transparent;
}

.navbar-btn {
    margin-top: 15px;
    margin-bottom: 8px;
}

.btn-default {
    color: #0069ff;
    background-color: #fff;
    border-color: #0069ff;
}

.btn-default:hover {
    color: white;
    background-color: #0069ff;
    border-color: #0069ff;
}
